:root {
  --dark-blue: #101b39;
  --dark-grey: #333136;
  --medium-grey: #6f6d72;
  --light-grey: #b4b1b8;
  --white-grey: #e9e8ee;
}

html {
  background: url('assets/moon.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  line-height: 1.5em;
}

li {
  margin: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  line-height: 1.5em;
}

h1, h2 {
  display: flex;
  justify-content: center;
}

body {
  background-color: rgba(16,27,57,.85); /* dark blue */
  color: white;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
}

table, tr, th {
  border: 1px solid white;
  padding: 0.5em;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

input:disabled{
  color: black;
  background-color: white;
}

.number {
  font-weight: unset;
}

img {
  padding: 10px;
}

.debug {
  visibility: hidden;
}

code {
  font-family: Monaco, monospace;
  font-size: medium;
  color: crimson;
  background-color: #e4e2e2;
  padding: 0.2em;
  padding-bottom: 0.1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  border-radius: 3px;
}

.svg {
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 2em;
}

.filter-red {
filter: invert(21%) sepia(73%) saturate(2992%) hue-rotate(344deg) brightness(90%) contrast(117%);
}

.filter-orange {
  filter: invert(64%) sepia(77%) saturate(2200%) hue-rotate(1deg) brightness(104%) contrast(107%);
}

.filter-yellow {
  filter: invert(91%) sepia(94%) saturate(877%) hue-rotate(328deg) brightness(111%) contrast(96%);
}

.filter-green {
filter: invert(61%) sepia(90%) saturate(419%) hue-rotate(41deg) brightness(91%) contrast(95%);
}

.filter-blue {
filter: invert(51%) sepia(32%) saturate(1089%) hue-rotate(183deg) brightness(89%) contrast(105%);
}

.filter-indigo {
  filter: invert(22%) sepia(15%) saturate(7329%) hue-rotate(235deg) brightness(94%) contrast(94%);
}

.filter-violet {
  filter: invert(26%) sepia(34%) saturate(2666%) hue-rotate(248deg) brightness(90%) contrast(94%);
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(28%) hue-rotate(125deg) brightness(106%) contrast(108%);
}

.filter-platinum {
  filter: invert(97%) sepia(4%) saturate(3396%) hue-rotate(298deg) brightness(113%) contrast(81%);
}

.answer-correct {
  background: rgb(11, 164, 11);
  color: white;
  font-size: large;
  padding: 0.3em;
}

.answer-incorrect {
  background: rgb(255, 107, 107);
  color: white;
  font-size: large;
  padding: 0.5em;
}

.container {
  display: flex;
  flex-direction: column;
  /* color: rgb(107, 107, 107); */
  /* align-items: stretch; */
  /* justify-content: center; */
  /* width: 100vh; */
}

.container-item {
  display: flex;
  flex-direction: column;
  color: rgb(107, 107, 107);
  align-items: center;
  margin: 1em;
  min-height: 100px;
}

.container-row {
  display: flex;
  flex-direction: row;
  color: rgb(107, 107, 107);
  align-items: center;
  justify-content: space-evenly;
  /* width: 100vh; */
}

.menu-bar {
  display: flex;
  flex-direction: row;
}

.game-display {
  margin: 5px;
  flex-basis: 40vh;
}

.game-menu {
  margin: 5px;
  flex-basis: 5vh;
}

.game-control {
  margin: 5px;
  flex: 1;
}

.game-text {
  height: 200px;
  border: 2px;
  border-color: azure;
  border-style: solid;
  padding: 10px;
  overflow: auto;
}

#game-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#game-message {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-submit {
  color: black;
  font-size: medium;
  background-color: var(--white-grey);
  border: 2px;
  border-style: solid;
  border-color: var(--dark-blue);
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: rgba(240, 248, 255, 0.849);
}

.button-menu {
  flex-grow: 1;
  color: black;
  font-size: medium;
  background-color: var(--white-grey);
  border: 2px;
  border-style: solid;
  border-color: var(--dark-blue);
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}

.button-menu:hover {
  background-color: rgba(240, 248, 255, 0.849);
}

.button-menu:disabled {
  background-color: rgba(240, 248, 255, 0.438);
}

.border-box {
  border-radius: 2px;
  border-style: double;
  border-width: 5px;
}

.todo-box {
  background-color:rgba(228, 232, 235, 0.473);
  margin: 0.25em;
  padding: 0.25em;
  padding-left: 0.5em;
  border-radius: 0.5em;
}

