<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Builder's Group(website template)</title>
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="nav-bar">
        <a href="./index.html"><img src="./img/company-logo.png" alt="logo"></a>
        <ul class="menu show">
            <li><a href="index.html">HOME</a></li>
            <li><a href="./contact.html">CONTACT</a></li>
        </ul>

        <div class="slider">
            <div class='btn'></div>
            <div class='btn'></div>
            <div class='btn'></div>
        </div>

    </div>
    <div class="main">
        <div id="slider" class="image-slider">

            <img id='slider-img' src="./img/students-2.jpg" alt="Buildings Constructed by this Company">
        </div>
        <div class="tag-line">
            <p>WRITE YOUR TAGLINE HERE</p>
        </div>

        <div class="mission-statement">
            <h2>MISSION STATEMENT</h2>
            <hr>
            <div class="project-item-wrapper">
                <div class="mission-item">
                    <p>Add your mission statement here.</p>
                </div>

        </div>


        <div class="recent-projects">
            <h2>RECENT PROJECTS</h2>
            <hr>
            <div class="project-item-wrapper">
                <div class="project-item">
                    <img src="./img/building-img-3.jpg" alt="recent project no 1">
                    <p>This is just a picture of buildings I found over the internet. Use your own Project Images and descriptions here</p>
                </div>
                <div class="project-item">
                    <img src="./img/building-img-4.jpg" alt="recent project no 1">
                    <p>This is just a picture of buildings I found over the internet. Use your own Project Images and descriptions here</p>
                </div>
            </div>

        </div>
        <div class="team">
            <h2>OUR TEAM</h2>
            <hr>
            <div class="team-members">
                <div class="member">
                    <img src="./img/CTO.jpg" alt="CEO image">
                    <p>Jona</p>
                </div>
                <div class="member">
                    <img src="./img/CTO.jpg" alt="CTO image">
                    <p>James</p>
                </div>
                <div class="member">
                    <img src="./img/CTO.jpg" alt="Chief engineer image">
                    <p>Jonty</p>
                </div>
                <div class="member">
                    <img src="./img/CTO.jpg" alt="CEO image">
                    <p>James</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p> Company Idea </p>
    </div>
    <script src="./js/script.js">
       
</script>
</body>

</html>