<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yLogistics</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon">
</head>

<body>

    <nav class="nav-bar background h-nav ">
        <img src="img/logo.png" alt="logo" class="logo">

        <ul class="nav-list v-class">
            <li><a href="./index.html">Home</a> </li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./services.html">Services</a></li>
            <li><a href="#contact-block">Contact</a></li>
        </ul>
        <div class="right-nav v-class">
            <input type="text" name="search" id="search">
            <button class="btn btn-search"> Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>
    </nav>


<!--     <section class="background firstSection" id="home">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-bg">Education to students</p>
                <p class="text-sm">If more people could learn for free, the workforce will expand. The workforce will also be more agile.
                </p>
                <div class="buttons">
                    <a href="#contact-block"><button class="btn">Contact Us</button></a>
                </div>


            </div>
            <div class="secondHalf">
                <img src="img/logo.png" alt="Company Logo">
            </div>
        </div>
    </section> -->

    <section id = "about"class="background firstSection">
        <div class="para">
            <p class="sectionTag text-bg">Our Mission Statement</p>
            <p class="sectionSubTag text-sm">This is the mission statement</p>
        </div>


        
    </section>



    <div class="hr-end">
        <hr>
    </div>

   

    <hr>

  

    <div class="hr-end">
        <hr>
    </div>
    <div id="contact-block" class="contact-block">
        <div class="contact-address">
            <h2>Contact Us</h2>
            <p>Address</p>
            <p>Telephone</p>
        </div>
        <div class="contact-emails">
            <div class="emails">
                <h4>Accounting</h4>
                <p>accounting@company.com</p>
            </div>
            <div class="emails">
                <h4>Administration</h4>
                <p>Administration@company.com</p>
            </div>
        </div>
    </div>
    <div class="footer background">
        <p>Copyright &copy; www.company.com</p>
    </div>


    <script src="js/resp.js"></script>


</body>

</html>