<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yLogistics</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon">
</head>

<body>

    <nav class="nav-bar background h-nav ">
        <img src="img/logo.png" alt="logo" class="logo">

        <ul class="nav-list v-class">
            <li><a href="#home">Home</a> </li>
            <li><a href="#about">About</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#contact-block">Contact</a></li>
        </ul>
        <div class="right-nav v-class">
            <input type="text" name="search" id="search">
            <button class="btn btn-search"> Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>
    </nav>


    <section class="background firstSection" id="home">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-bg">Education to students</p>
                <p class="text-sm">If more people could learn for free, the workforce will expand. The workforce will also be more agile.
                </p>
                <div class="buttons">
                    <a href="#contact-block"><button class="btn">Contact Us</button></a>
                </div>


            </div>
            <div class="secondHalf">
                <img src="img/logo.png" alt="Company Logo">
            </div>
        </div>
    </section>

    <section id = "about"class="section-down">
        <div class="para">
            <p class="sectionTag text-bg">Our Mission Statement</p>
            <p class="sectionSubTag text-sm">This is the mission statement</p>
        </div>


        
    </section>

    <section id = "service"class="section-down">
        <div class="para">
            <p class="sectionTag text-bg">Our Facilities</p>
            <p class="sectionSubTag text-sm">In the last 20 years, the Internet has grown from being nearly non-existent into the largest, most accessible database of information ever created. It has changed the way people communicate, shop, socialise, do business and think about knowledge and learning. Much more than just a new twist on distance learning, online schooling is changing the face of traditional classrooms and making education more accessible than ever before.</p>
        </div>


        <div class="thumbnail">
            <img class="imgFluid" src="img/our-facilities.jpg" alt="logo Image">
        </div>
    </section>

    <div class="hr-end">
        <hr>
    </div>

    <section class="section-down reverse-order">
        <div class="para">
            <p class="sectionTag text-bg">Our Presence - Globally</p>
            <p class="sectionSubTag text-sm">Online education is a form of education where students use their home computers through the internet. For many nontraditional students, among them all those who want to continue working full time or raising families, online graduations and courses have become popular in the past decade. Often online graduation and course programmes, some of which are conducted using digital technologies, are provided via the online learning portal of the host university.</p>
        </div>


        <div class="thumbnail">
            <img class="imgFluid" src="./img/our-presence.jpg" alt="logo Image">
        </div>
    </section>

    <hr>

    <section class="section-down">
        <div class="para">
            <p class="sectionTag text-bg">Our Motto- Let's Grow Together</p>
            <p class="sectionSubTag text-sm">It's not easier studying online! Online institutions must meet with the same quality requirements as brick-and-mortar institutions. With the advancement of online learning technologies, virtual institutions have enhanced automated processes to deter fraud and/or plagiarism. Many online institutions will partner with universities on campus to develop and deliver online programs. This enables an online service, while providing validated course studies through the brick-and-mortar institution, to benefit from the advanced expertise and technology that an online provider provides.</p>
        </div>


        <div class="thumbnail">
            <img class="imgFluid" src="./img/our-team.jpg" alt="logo Image">
        </div>
    </section>

    <div class="hr-end">
        <hr>
    </div>
    <div id="contact-block" class="contact-block">
        <div class="contact-address">
            <h2>Contact Us</h2>
            <p>Address</p>
            <p>Telephone</p>
        </div>
        <div class="contact-emails">
            <div class="emails">
                <h4>Accounting</h4>
                <p>accounting@company.com</p>
            </div>
            <div class="emails">
                <h4>Administration</h4>
                <p>Administration@company.com</p>
            </div>
        </div>
    </div>
    <div class="footer background">
        <p>Copyright &copy; www.company.com</p>
    </div>


    <script src="js/resp.js"></script>


</body>

</html>